/* Fonts */

@font-face {
  font-family: 'PhanNormal';
  src: url('./assets/PhanFont.ttf');
}

@font-face {
  font-family: 'PhanHeader';
  src: url('./assets/header-font.ttf');
}

/* styles  */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'PhanNormal';
  font-size: 1.2em;
}
